<div class="flex flex-row justify-between items-stretch px-3 pb-3">
  <div class="grid grid-cols-2 justify-between">
    {{ include('admin/changeTime.html.twig') }}
  </div>
  <div class="mx-3 px-2">
    {{include('admin/addGround.html.twig',{addGroundForm:addGroundForm})}}
  </div>
  <div class="flex flex-col w-1/2 items-stretch">
    {{include('admin/deleteGround.html.twig',{grounds:grounds})}}
  </div>
</div>