{% extends 'base.html.twig' %}

{% block body %}
    {{ include('tabel_view/_header.html.twig',{currUser:currentUser}) }}
    <div class="flex flex-col px-10">
        {{include('admin/changeCntTimeGrounds.html.twig',{timeForm:timeForm,grounds:grounds,addGroundForm:addGroundForm})}}
    </div>
{% endblock %}

