{% extends 'base.html.twig' %}

{% block body %}
    {{ include('tabel_view/_header.html.twig',{currUser:currentUser}) }}
    <div class=" bg-green-200 flex flex-col px-10">
        {{include('admin/changeCntTimeGrounds.html.twig',{timeForm:timeForm,grounds:grounds,addGroundForm:addGroundForm})}}
    </div>

    <div class="bg-green-100 flex flex-col px-10 mt-10">
        {{include('admin/viewAllUsers.html.twig',{users:users, adminEmail:adminEmail})}}
    </div>


    <!--Obavestenja u  modalu-->
    <div>
        {% for messages in app.flashes(['addGround' , 'deleteGround', 'blockedGround', 'unblockedGround','blockedUser','unblockedUser']) %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

