<!--h3>Termin zakazivanja: </h3>

{ form_start(form) }}

  <div>
    { form_label(form.time) }}
    { form_widget(form.time) }}
  </div>

  <div>
    { form_label(form.ground) }}
    { form_widget(form.ground) }}
  </div>

  <div>
    { form_label(form.user) }}
    { form_widget(form.user) }}
  </div>

  <div>
    { form_label(form.date) }}
    { form_widget(form.date) }}
  </div>

  

  <button type="submit">
    Zakazi
  </button>

{{ form_end(form) }}-->