{% if is_granted('IS_AUTHENTICATED_FULLY') %}

  <!--form action=" path('app_button_function')}}" method="POST">
    <input type="hidden"value="time}}" name="time">
    <input type="hidden" value="ground}}" name="ground">
    <button type="submit" 
      name="button"
      class="p-2 text-white hover:bg-lime-400 w-full">
      Zakazi
    </button>
  </form-->

  <!-- form_start(form) }}
     form_widget(form.time), {'value':time} }}
    { form_widget(form.groud), {'value':ground} }}
  { form_end(form) }}
  <button type="submit" 
    name="button"
    class="p-2 text-white hover:bg-lime-400 w-full">
    Zakazi
  </button-->

  <!--a href="{ path('app_booking', {time:time, ground : ground}) }}" class="py-2 px-10 text-white w-full hover:text-lime-400">
    Zakazi</a-->

{% else %}

    <button type="button"
      class="p-2 text-white bg-lime-400">
      Zakazi
    </button>
  {% endfor %}

{% endif %}