{% extends 'base.html.twig' %}


{% block body %}
    <!--ispis nasih obrisanih termina i brisanje terena za taj termin ako je delete-->
    <div class="mb-3 w-1/2 ml-3">
        {% for message in app.flashes('deleteMyAppointment') %}
            <div class="bg-orange-200 border-3 border-orange-500 rounded-md p-3">
                {{message}}
            </div>    
        {% endfor %}
    </div>

    {{ include('tabel_view/_header.html.twig',{currUser:currUser}) }}
    {{ include('tabel_view/table_appointment.html.twig',
    {formBooking:formBooking,selectDate:selectDate,start_time:start_time, end_time:end_time,grounds:grounds, formSelect: formSelect, appointments: appointments, adminEmail:adminEmail}) }}

{% endblock %}
